@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background: radial-gradient(circle, #ffffff, #e49443);
    color: black
}

img {
    border-radius: 15px;
}

strong {
    color: #464AFA
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.apresentacao-conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.apresentacao-conteudo-titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao-conteudo-texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao-botoes {
    display: flex;
    justify-content: space-between;
}

.botao {
    background-color: #b8860b;
    color: black;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}