@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

:root {
    --cor-primaria: #e49443;
    --cor-secundaria: #000000;
    --cor-terciaria: #464AFA;
    --cor-extra: #e7a869;

    --fonte-krona: "Krona One", sans-serif;
    --fonte-montserrat: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: radial-gradient(circle, #ffffff, #e49443);
    color: var(--cor-secundaria);
    overflow: hidden;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.cabecalho {
    padding: 1.5% 0% 0% 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link {
    font-family: var(--fonte-montserrat);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

img {
    border-radius: 15px;
}

strong {
    color: var(--cor-terciaria);
}

.apresentacao {
    margin: 3% 16%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
}

.apresentacao-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.apresentacao-conteudo-titulo {
    font-size: 1.8rem;
    font-family: var(--fonte-krona);
}

.apresentacao-conteudo-texto {
    font-size: 1.2rem;
    font-family: var(--fonte-montserrat);
}

.apresentacao-botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.apresentacao-subtitulo {
    font-family: var(--fonte-krona);
    font-weight: 400;
    font-size: 1.35rem;
}

.botao {
    display: flex;
    justify-content: center;
    gap: 4px;
    border: 2.5px solid var(--cor-terciaria);
    color: var(--cor-terciaria);
    width: 40%;
    text-align: center;
    border-radius: 15px;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 0;
    text-decoration: none;
    font-family: var(--fonte-montserrat);
}

.botao:hover {
    background-color: var(--cor-extra);
}

.apresentacao-imagem {
    width: 50%;
}

.rodape {
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    padding: 20px;
    text-align: center;
    font-family: var(--fonte-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho-menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-conteudo {
        width: auto;
    }
}